@model IEnumerable<Lab02_JoseAlvarez_OscarLemus.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Inventario</h2>


@using (Html.BeginForm("LeerArchivo", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="ArchivoCargado" />
    <br />
    <button type="submit">Subir archivo</button>
    <br />
}

<br />


@using (Html.BeginForm("Add", "Product", FormMethod.Post))
{
    <label>Código de Producto: </label>
    <br />
    <input type="text" name="product_key" id="product_key" />
    <br />
    <label>Descripción del Producto: </label>
    <br />
    <input type="text" name="product_description" id="product_description" />
    <br />
    <label>Precio del Producto: </label>
    <br />
    <input type="text" name="product_price" id="product_price" />
    <br />
    <label>Cantidad de Producto: </label>
    <br />
    <input type="text" name="quantity_of_product" id="quantity_of_product" />
    <br />

    <button type="submit">Agregar producto</button>
}


@if (Session["ProductsTree"] != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity_of_product)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.product_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity_of_product)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.product_key})  |
                    @Html.ActionLink("Details", "Details", new { id = item.product_key }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.product_key })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h3>No hay datos</h3>
}

